
#include "clang.xcconfig"

GCC_VERSION = com.apple.compilers.llvm.clang.nightly

CLANG = /opt/llvm/nightly/bin/clang

GCC_C_LANGUAGE_STANDARD = gnu11

// Xcode 4
CLANG_ANALYZER_EXEC = $(CLANG)

CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
// -Wconversion does not have an useless semantic in clang
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO

// Xcode 5
CLANG_WARN_DOCUMENTATION_COMMENTS = YES

// Static Analyzer
RUN_CLANG_STATIC_ANALYZER = NO

CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
