
GCC_VERSION = com.apple.compilers.llvm.clang.1_0

GCC_CW_ASM_SYNTAX = YES

// Xcode 5
CLANG_WARN_DOCUMENTATION_COMMENTS = YES

// defined based on the target system version.
// CLANG_CXX_LANGUAGE_STANDARD = c++0x
// CLANG_CXX_LIBRARY = libc++

// CLANG_WARN_OBJCPP_ARC_ABI = YES

//:configuration = Debug
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN__EXIT_TIME_DESTRUCTORS = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO

CLANG_X86_VECTOR_INSTRUCTIONS[arch=x86_64] = ssse3

// Usefull thanks to -Wno-idiomatic-parentheses
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_MISSING_PARENTHESES = YES
// Work even in debug build in clang :-)
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES

ENABLE_STRICT_OBJC_MSGSEND = YES

CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES

// Should be true but cause duplicate class warning at runtime.
CLANG_LINK_OBJC_RUNTIME = NO

CLANG_ENABLE_OBJC_ARC = YES

// Auto enabled module on supported SDKs
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_MODULES[sdk=macosx10.8] = NO

CLANG_MODULES_AUTOLINK = YES
CLANG_MODULES_AUTOLINK[sdk=macosx10.8] = NO

// Static Analyzer
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

// CLANG_WARN__EXIT_TIME_DESTRUCTORS = YES

// clang specifics flags
HA_COMPILER_OTHER_FLAGS = -ferror-limit=50
HA_COMPILER_OTHER_CFLAGS =
HA_COMPILER_OTHER_CPLUSPLUSFLAGS =

// -Wmissing-noreturn
// -Wunreachable-code
// -Wused-but-marked-unused
// -Wno-idiomatic-parentheses: assignement used as condition with method starting by -init or with -nextObject.
HA_COMPILER_WARNING_FLAGS = -Wno-idiomatic-parentheses -Wenum-compare -Warray-bounds -Wlarge-by-value-copy -Wself-assign -Wold-style-cast -Wavailability -Wsentinel -Wunreachable-code
HA_COMPILER_WARNING_CFLAGS =
HA_COMPILER_WARNING_CPLUSPLUSFLAGS = -Woverloaded-virtual

