
#include "clang.xcconfig"

GCC_VERSION = com.apple.compilers.llvm.clang.nightly

CLANG = /opt/llvm/nightly/bin/clang
CLANG_ANALYZER_EXEC = $(CLANG)

GCC_C_LANGUAGE_STANDARD = c11

CLANG_LOOP_VECTORIZATION = NO

CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
// -Wconversion does not have an useless semantic in clang
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
