
// MARK: Build Options
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

// MARK: Deployment
COMBINE_HIDPI_IMAGES = YES

COPY_PHASE_STRIP = NO // may break signature

// MARK: Linking
DEAD_CODE_STRIPPING = YES
LINKER_DISPLAYS_MANGLED_NAMES = NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES

// OTHER_LDFLAGS = #merged
// WARNING_LDFLAGS = #merged

// MARK: Packaging
// enable plist and strings files processing
APPLY_RULES_IN_COPY_FILES = YES

INFOPLIST_OUTPUT_FORMAT = binary

PRODUCT_NAME = $(TARGET_NAME)

PLIST_FILE_OUTPUT_FORMAT = binary
STRINGS_FILE_OUTPUT_ENCODING = binary

// MARK: Search Path
ALWAYS_SEARCH_USER_PATHS = NO

// MARK: Versioning
VERSIONING_SYSTEM = apple-generic
VERSION_INFO_BUILDER = Jean-Daniel Dupas

// MARK: -
// MARK: Code Generation
GCC_NO_COMMON_BLOCKS = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES

// Enable PIC by default, as this is required by PIE.
GCC_DYNAMIC_NO_PIC = NO

GCC_INLINES_ARE_PRIVATE_EXTERN = YES

GCC_REUSE_STRINGS = YES

GCC_THREADSAFE_STATICS = YES

GCC_SYMBOLS_PRIVATE_EXTERN = YES

// MARK: Custom Compiler Flags
HA_WARNING_CFLAGS = -Wdiv-by-zero -Wnested-externs -Wold-style-definition -Wmissing-declarations
HA_WARNING_CPLUSPLUSFLAGS = -Wctor-dtor-privacy -Wsign-promo -Woverloaded-virtual

// flags common to C and C++
HA_OTHER_FLAGS = -ferror-limit=50 -fstack-protector-all -I$(HADRON_PATH)/include

OTHER_CFLAGS = $(inherited) $(HA_OTHER_FLAGS) $(HA_WARNING_CFLAGS)
// C++ only flags and warning. Do not use inherited else it will inherite default settings which include C flags
OTHER_CPLUSPLUSFLAGS = $(HA_OTHER_FLAGS) $(HA_WARNING_CPLUSPLUSFLAGS)

// Warning flags common to C and C++.
// -Wsign-conversion
WARNING_CFLAGS = $(inherited) -Wmost -Wextra -Wno-unused-parameter -Wfloat-equal -Wpointer-arith -Wwrite-strings -Wredundant-decls -Wno-idiomatic-parentheses -Wenum-compare -Warray-bounds -Wlarge-by-value-copy -Wself-assign -Wold-style-cast -Wavailability -Wsentinel -Wunreachable-code

// MARK: Language
GCC_C_LANGUAGE_STANDARD = gnu11

// Look like Xcode 4 / Lion don't like it at all.
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_PRECOMPILE_PREFIX_HEADER = YES

HADRON_PATH = ../hadron
GCC_PREFIX_HEADER = $(HADRON_PATH)/SharedPrefix.h

GCC_ENABLE_PASCAL_STRINGS = YES

// MARK: Language C++
CLANG_CXX_LIBRARY = libc++
GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_CPP_RTTI = NO

// MARK: Language - Modules
CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = YES

// MARK: Language - Objective-C
GCC_ENABLE_OBJC_EXCEPTIONS = YES
CLANG_ENABLE_OBJC_ARC = YES

// MARK: Preprocessing
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES

// MARK: -
// MARK: Warnings - All languages
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES

CLANG_WARN_EMPTY_BODY = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_SHADOW = YES

CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES

CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
// Usefull thanks to -Wno-idiomatic-parentheses
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES

CLANG_WARN_ASSIGN_ENUM = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES

GCC_WARN_SIGN_COMPARE = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES

GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES

CLANG_WARN_UNGUARDED_AVAILABILITY = YES

GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
CLANG_WARN_UNREACHABLE_CODE = YES

GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

// MARK: Warnings - C++
CLANG_WARN__EXIT_TIME_DESTRUCTORS = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES

// MARK: Warnings - Objective-C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES

GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE

CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// MARK: Warnings - Objective-C and ARC
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// MARK: -
// MARK: Interface Buidler XIB Compiler - Options
IBC_FLATTEN_NIBS = YES
// IBC_OTHER_FLAGS =

IBC_ERRORS = YES
IBC_NOTICES = YES
IBC_WARNINGS = YES

// MARK: -
// MARK: Static Analyzer - Generic Issues
CLANG_ANALYZER_NONNULL = YES

// MARK: Static Analyzer - Issues - Apple APIs
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE

// MARK: Static Analyzer - Issues - Security
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES

// MARK: -
// Default to the last version
SWIFT_VERSION = 4.2
// MARK: Swift Compiler - Search Path
SWIFT_INCLUDE_PATHS = $(PROJECT_TEMP_ROOT)/$(SDK_NAME)/HadronModules/

// MARK: -
// MARK: Metal
MTL_FAST_MATH = YES

// MARK: -
// MARK: Helpers

// Modern bundle format
HA_LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks

// macOS Bundle format
HA_LD_RUNPATH_SEARCH_PATHS[sdk=macos*] = @executable_path/../Frameworks @loader_path/../Frameworks

