
// Only one arch at a time
ONLY_ACTIVE_ARCH = YES

// MARK: Build Options
DEBUG_INFORMATION_FORMAT = dwarf

ENABLE_TESTABILITY = YES

// MARK: Deployment
DEPLOYMENT_POSTPROCESSING = NO

STRIP_INSTALLED_PRODUCT = NO

STRIP_SWIFT_SYMBOLS = NO

// MARK: Code Generation
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0

// MARK: Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

// MARK: Address Sanitizer
CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW = YES

// MARK: Undefined Behavior Sanitizer
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES

// MARK: Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Onone

// MARK: Swift Compiler - Custom Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG
