
// Only one arch at a time
ONLY_ACTIVE_ARCH = YES

ENABLE_TESTABILITY = YES

GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = YES

// No optimization
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

// Deployment postprocessing is what triggers Xcode to strip, turn it off
DEPLOYMENT_POSTPROCESSING = NO
STRIP_INSTALLED_PRODUCT = NO
COPY_PHASE_STRIP = NO

// May catch errors
GCC_NO_COMMON_BLOCKS = YES

DEBUG_INFORMATION_FORMAT = dwarf

CLANG_ENABLE_SANITIZER = undefined

HA_CONFIGURATION_OTHER_SWIFT_FLAGS = -DDEBUG

HA_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
