
// Only one arch at a time
ONLY_ACTIVE_ARCH = YES

// No optimization
GCC_OPTIMIZATION_LEVEL = 0

// Deployment postprocessing is what triggers Xcode to strip, turn it off
DEPLOYMENT_POSTPROCESSING = NO
STRIP_INSTALLED_PRODUCT = NO
COPY_PHASE_STRIP = NO

// May catch errors
GCC_NO_COMMON_BLOCKS = NO

DEBUG_INFORMATION_FORMAT = dwarf

CLANG_ENABLE_SANITIZER = undefined

HA_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
