
// MARK: Build Options
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

VALIDATE_PRODUCT = YES

// MARK: Deployment
// Deployment postprocessing is what triggers Xcode to strip
DEPLOYMENT_POSTPROCESSING = YES

STRIP_INSTALLED_PRODUCT = YES

STRIP_SWIFT_SYMBOLS = YES

// MARK: Code Generation
GCC_OPTIMIZATION_LEVEL = s

// MARK: Custom Compiler Flags
// init-self can only be turned on when optimizations are on
HA_CONFIGURATION_WARNING_CFLAGS = -Winit-self -Wno-extra

// MARK: Preprocessing
// Disable CoreServices + <assert.h> (NDEBUG) and Cocoa (NS_BLOCK_ASSERTIONS) Assertions
HA_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG=1 NS_BLOCK_ASSERTIONS

// MARK: Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
