
PRODUCT_NAME = $(TARGET_NAME)

// macosx is a shortcut for 'latest SDK'
SDKROOT = macosx

// This is the standard now
ARCHS = $(ARCHS_STANDARD_64_BIT)

// MARK: Build Options
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

ENABLE_NS_ASSERTIONS = YES

// MARK: Deployment
COMBINE_HIDPI_IMAGES = YES
SEPARATE_STRIP = NO

// MARK: Linking
DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES

LINKER_DISPLAYS_MANGLED_NAMES = NO

// OTHER_LDFLAGS = #merged
// WARNING_LDFLAGS = #merged

// MARK: Packaging
// enable plist and strings files processing
APPLY_RULES_IN_COPY_FILES = YES

INFOPLIST_OUTPUT_FORMAT = binary
PLIST_FILE_OUTPUT_FORMAT = binary
STRINGS_FILE_OUTPUT_ENCODING = binary

// MARK: Search Path
// Is enabled by default for backward compatibility, but shouldn't be.
ALWAYS_SEARCH_USER_PATHS = NO

// MARK: Versioning
VERSIONING_SYSTEM = apple-generic
VERSION_INFO_BUILDER = Jean-Daniel Dupas

// MARK: Code Generation
GCC_FAST_OBJC_DISPATCH = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
// Enable PIC by default, as this is required by PIE.
GCC_DYNAMIC_NO_PIC = NO

GCC_INLINES_ARE_PRIVATE_EXTERN = YES

GCC_REUSE_STRINGS = YES

GCC_THREADSAFE_STATICS = YES

GCC_SYMBOLS_PRIVATE_EXTERN = YES

// MARK: Language
GCC_C_LANGUAGE_STANDARD = gnu11

GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_CPP_RTTI = NO

GCC_ENABLE_OBJC_EXCEPTIONS = YES

// Look like Xcode 4 / Lion don't like it at all.
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

// OTHER_CFLAGS = #merged
// OTHER_CPLUSPLUSFLAGS = #merged
// OTHER_SWIFT_FLAGS = #merged

GCC_PRECOMPILE_PREFIX_HEADER = YES

HADRON_PATH = ../hadron
GCC_PREFIX_HEADER = $(HADRON_PATH)/SharedPrefix.h
SWIFT_INCLUDE_PATHS = $(PROJECT_TEMP_ROOT)/$(SDK_NAME)/HadronModules/

GCC_ENABLE_PASCAL_STRINGS = YES

// MARK: Preprocessor
// GCC_PREPROCESSOR_DEFINITIONS = #merged

// MARK: Warnings
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_SHADOW = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES

GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES

GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_MISSING_PARENTHESES = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES

GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES

GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES

// WARNING_CFLAGS = #merged
//:configuration = Debug
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
// GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES

// CLANG Warning
CLANG_WARN_COMMA = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION = YES


CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

// MARK: Interface Buidler XIB Compiler
IBC_FLATTEN_NIBS = YES
// IBC_OTHER_FLAGS =

IBC_ERRORS = YES
IBC_NOTICES = YES
IBC_WARNINGS = YES

// HA_TARGET_LDFLAGS = -Wl,-weak_reference_mismatches,error

// Stack protection
HA_BASE_OTHER_FLAGS = -fstack-protector-all -I$(HADRON_PATH)/include
HA_BASE_OTHER_CFLAGS =
HA_BASE_OTHER_CPLUSPLUSFLAGS =
HA_BASE_OTHER_SWIFT_FLAGS =

// -Wsign-conversion
HA_BASE_WARNING_FLAGS = -Wmost -Wextra -Wno-unused-parameter -Wfloat-equal -Wpointer-arith -Wwrite-strings -Wredundant-decls
HA_BASE_WARNING_CFLAGS = -Wdiv-by-zero -Wnested-externs -Wold-style-definition -Wmissing-declarations
HA_BASE_WARNING_CPLUSPLUSFLAGS = -Wctor-dtor-privacy -Wsign-promo

