
GCC_VERSION = com.apple.compilers.llvmgcc42

GCC_C_LANGUAGE_STANDARD = gnu99

GCC_WARN_MISSING_PARENTHESES = NO

// GCC specifics flags
WB_COMPILER_OTHER_FLAGS =
WB_COMPILER_OTHER_CFLAGS =
WB_COMPILER_OTHER_CPLUSPLUSFLAGS =

WB_COMPILER_WARNING_FLAGS =
WB_COMPILER_WARNING_CFLAGS =
WB_COMPILER_WARNING_CPLUSPLUSFLAGS = -Wstrict-null-sentinel -Wabi -Weffc++
