//
//  merge.xcconfig
//
//  Xcode configuration file that merges other xcconfig settings.

// COMPILE_FLAGS: Flags common to C and C++. 

// Settings levels: BASE -> COMPILER -> CONFIGURATION -> PROJECT
// BASE: used by base xcconfig files.
// COMPILER: used to defined compiler specifics flags. default to GCC flags and overrided by compiler module (clang.xcconfig)
// CONFIGURATION: Used to defined configuration specifics flags (debug/release flags)
// PROJECT: Can be used by project specific xcconfig to add flags
// We don't need target level settings as they can be defined directly in the projet/target build settings using $(inherited).
COMPILE_FLAGS = $(WB_BASE_COMPILE_FLAGS) $(WB_COMPILER_COMPILE_FLAGS) $(WB_CONFIGURATION_COMPILE_FLAGS) $(WB_PROJECT_COMPILE_FLAGS)

OTHER_LDFLAGS = $(inherited) $(WB_BASE_OTHER_LDFLAGS) $(WB_COMPILER_OTHER_LDFLAGS) $(WB_CONFIGURATION_OTHER_LDFLAGS) $(WB_PROJECT_OTHER_LDFLAGS)
WARNING_LDFLAGS = $(inherited) $(WB_BASE_WARNING_LDFLAGS) $(WB_CONFIGURATION_WARNING_LDFLAGS) $(WB_PROJECT_WARNING_LDFLAGS)

OTHER_CFLAGS = $(inherited) $(COMPILE_FLAGS) $(WB_BASE_OTHER_CFLAGS)  $(WB_COMPILER_OTHER_CFLAGS) $(WB_CONFIGURATION_OTHER_CFLAGS) $(WB_PROJECT_OTHER_CFLAGS)
OTHER_CPLUSPLUSFLAGS = $(inherited) $(COMPILE_FLAGS) $(WB_BASE_OTHER_CPLUSPLUSFLAGS)  $(WB_COMPILER_OTHER_CPLUSPLUSFLAGS) $(WB_CONFIGURATION_OTHER_CPLUSPLUSFLAGS) $(WB_PROJECT_OTHER_CPLUSPLUSFLAGS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(WB_BASE_GCC_PREPROCESSOR_DEFINITIONS) $(WB_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS) $(WB_PROJECT_GCC_PREPROCESSOR_DEFINITIONS)

WARNING_CFLAGS = $(inherited) $(WB_BASE_WARNING_CFLAGS) $(WB_COMPILER_WARNING_CFLAGS) $(WB_CONFIGURATION_WARNING_CFLAGS) $(WB_PROJECT_WARNING_CFLAGS)
