//
//  merge.xcconfig
//
//  Xcode configuration file that merges other xcconfig settings.

// Settings levels: BASE -> COMPILER -> CONFIGURATION -> PROJECT
// BASE: used by base xcconfig files.
// COMPILER: used to defined compiler specifics flags. default to GCC flags and overrided by compiler module (clang.xcconfig)
// CONFIGURATION: Used to defined configuration specifics flags (debug/release flags)
// PROJECT: Can be used by project specific xcconfig to add flags
// We don't need target level settings as they can be defined directly in the projet/target build settings using $(inherited).

// Linker flags
OTHER_LDFLAGS = $(inherited) $(HA_BASE_OTHER_LDFLAGS) $(HA_COMPILER_OTHER_LDFLAGS) $(HA_CONFIGURATION_OTHER_LDFLAGS) $(HA_PROJECT_OTHER_LDFLAGS)
WARNING_LDFLAGS = $(inherited) $(HA_BASE_WARNING_LDFLAGS) $(HA_COMPILER_WARNING_LDFLAGS) $(HA_CONFIGURATION_WARNING_LDFLAGS) $(HA_PROJECT_WARNING_LDFLAGS)

// Flags common to C and C++.
OTHER_FLAGS = $(HA_BASE_OTHER_FLAGS) $(HA_COMPILER_OTHER_FLAGS) $(HA_CONFIGURATION_OTHER_FLAGS) $(HA_PROJECT_OTHER_FLAGS)
// C only flags
OTHER_CFLAGS = $(inherited) $(OTHER_FLAGS) $(HA_WARNING_CFLAGS) $(HA_BASE_OTHER_CFLAGS) $(HA_COMPILER_OTHER_CFLAGS) $(HA_CONFIGURATION_OTHER_CFLAGS) $(HA_PROJECT_OTHER_CFLAGS)
// C++ only flags. Do not use inherited else it will inherite default settings which include C flags
OTHER_CPLUSPLUSFLAGS = $(OTHER_FLAGS) $(HA_WARNING_CPLUSPLUSFLAGS) $(HA_BASE_OTHER_CPLUSPLUSFLAGS) $(HA_COMPILER_OTHER_CPLUSPLUSFLAGS) $(HA_CONFIGURATION_OTHER_CPLUSPLUSFLAGS) $(HA_PROJECT_OTHER_CPLUSPLUSFLAGS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(HA_BASE_GCC_PREPROCESSOR_DEFINITIONS) $(HA_COMPILER_GCC_PREPROCESSOR_DEFINITIONS) $(HA_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS) $(HA_PROJECT_GCC_PREPROCESSOR_DEFINITIONS)

// Warning flags common to C and C++. (should be named WARNING_FLAGS, but this is an Xcode settings so we cannot choose the name)
WARNING_CFLAGS = $(inherited) $(HA_BASE_WARNING_FLAGS) $(HA_COMPILER_WARNING_FLAGS) $(HA_CONFIGURATION_WARNING_FLAGS) $(HA_PROJECT_WARNING_FLAGS)

// C only warning flags
HA_WARNING_CFLAGS = $(HA_BASE_WARNING_CFLAGS) $(HA_COMPILER_WARNING_CFLAGS) $(HA_CONFIGURATION_WARNING_CFLAGS) $(HA_PROJECT_WARNING_CFLAGS)
// C++ only warning flags
HA_WARNING_CPLUSPLUSFLAGS = $(HA_BASE_WARNING_CPLUSPLUSFLAGS) $(HA_COMPILER_WARNING_CPLUSPLUSFLAGS) $(HA_CONFIGURATION_WARNING_CPLUSPLUSFLAGS) $(HA_PROJECT_WARNING_CPLUSPLUSFLAGS)
