

GCC_OPTIMIZATION_LEVEL = s

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Deployment postprocessing is what triggers Xcode to strip
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES
COPY_PHASE_STRIP = NO

GCC_WARN_UNINITIALIZED_AUTOS = YES
// init-self can only be turned on when optimizations are on
WB_CONFIGURATION_WARNING_CFLAGS = -Winit-self -Wno-extra

// Disable CoreServices + <assert.h> (NDEBUG) and Cocoa (NS_BLOCK_ASSERTIONS) Assertions
WB_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG=1 NS_BLOCK_ASSERTIONS
