//
//  WBMerge.xcconfig
//
//  Xcode configuration file that merges other xcconfig settings.

// Xcode doesn't allow you to "inherit" settings with includes so you always
// end up overriding settings accidentally. To avoid this, we instead
// allow you to define settings at different levels 
// (GENERAL, PLATFORM (iPhone/Mac), CONFIGURATION (Release/Debug) and we merge
// those together here. 
// We DO NOT inherit OTHER_CPLUSPLUSFLAGS because OTHER_CPLUSPLUSFLAGS by default
// takes on OTHER_CFLAGS settings, and we don't want those applied to our
// C++ files. OTHER_CFLAGS is the only way to set C specific settings on our
// C files that we don't want to have applied to our C++ files such as
// -Wold-style-definition
WARNING_CFLAGS = $(inherited) $(WB_GENERAL_WARNING_CFLAGS) $(WB_PLATFORM_WARNING_CFLAGS) $(WB_CONFIGURATION_WARNING_CFLAGS) $(WB_OTHER_WARNING_CFLAGS)
OTHER_CFLAGS = $(inherited) $(WB_GENERAL_OTHER_CFLAGS) $(WB_PLATFORM_OTHER_CFLAGS) $(WB_CONFIGURATION_OTHER_CFLAGS) $(WB_OTHER_CFLAGS)
OTHER_CPLUSPLUSFLAGS = $(WB_GENERAL_OTHER_CPLUSPLUSFLAGS) $(WB_PLATFORM_OTHER_CPLUSPLUSFLAGS) $(WB_CONFIGURATION_OTHER_CPLUSPLUSFLAGS) $(WB_OTHER_CPLUSPLUSFLAGS)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(WB_GENERAL_GCC_PREPROCESSOR_DEFINITIONS) $(WB_PLATFORM_GCC_PREPROCESSOR_DEFINITIONS) $(WB_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS) $(WB_OTHER_GCC_PREPROCESSOR_DEFINITIONS)
OTHER_LDFLAGS = $(inherited) $(WB_GENERAL_OTHER_LDFLAGS) $(WB_PLATFORM_OTHER_LDFLAGS) $(WB_CONFIGURATION_OTHER_LDFLAGS)  $(WB_OTHER_LDFLAGS)
